
<form
    [formGroup]="myForm"
    (ngSubmit)="onSubmit()"
    class="form"
>
    <h2 class="subtitle">Choose a metric and data rows/columns</h2>
    <div class="form-group">
        <div class="form-field">
            <label>1.Pick a metric</label>
            <select formControlName="metric" required="">
                <option value="">Select a metric</option>
                <option *ngFor="let metric of metrics" [value]="metric.value">
                    {{ metric.value }}
                </option>
            </select>
        </div>
        <div class="form-field">
            <label for="">2.Pick your rows</label>
            <div class="card">
                <span class="p-fluid">
                    <p-autoComplete
                        formControlName="selectedRows"
                        [suggestions]="filteredRows" 
                        (completeMethod)="filterRow($event)" 
                        field="label"  
                        [multiple]="true"
                        (onSelect)="onSelectRow($event)"
                        (onUnselect)="onRemoveRow($event)"
                        [showEmptyMessage]="true"
                        inputStyleClass="inputForm"
                        
                    > </p-autoComplete>

                </span>
            </div>
        </div>
        <div class="form-field">
            <label for="">2.Pick your columns</label>
            <div class="card">
                <span class="p-fluid">
                    <p-autoComplete 
                        formControlName="selectedColumns"
                        [suggestions]="filteredColumns" 
                        (completeMethod)="filterColumn($event)" 
                        field="label"  
                        [multiple]="true"
                        (onSelect)="onSelectColumn($event)"
                        (onUnselect)="onRemoveColumn($event)"
                        [showEmptyMessage]="true"
                        inputStyleClass="inputForm"
                    > </p-autoComplete>
                </span>
            </div>
        </div>
        <button type="submit" [disabled]="!myForm.valid" >Submit</button>
    </div>
</form>

<div>
    <div class="search">
        <input 
            type="text" 
            placeholder="Filter"
            #txtSearch
            (keyup)="onSearch( txtSearch.value )"
        >
    </div>
</div>


<button (click)="createTable()">Create Table</button>
<div class="container"  >
    <div  #tableContainer >
    </div>
    <div class="pagination" *ngIf="showTable">
        <form [formGroup]="formPage" class="form-select">
    
            <label for="pagination">Page:</label>
            <select formControlName="page" class="select-pagination" >
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </form>
        
        <div class="buttons">
            <div class="tooltip">
                <span class="tooltiptext">Fisrt page</span>
                <div class="image-tooltip">
                <img src="../../../../assets/svg/arrow-left-end.svg" (click)="firstPage()" > 
                </div>
            </div>
            <div class="tooltip">
                <span class="tooltiptext">Previous page</span>
                <div class="image-tooltip">
                    <img src="../../../../assets/svg/arrow-left.svg"  (click)="previosPage()"/>
                </div>
            </div>
            <div class="tooltip">
                <span class="tooltiptext">Next page</span>
                <div class="image-tooltip">
                <img src="../../../../assets/svg/arrow-right.svg"  (click)="nextPage()"/>
                </div>
            </div>
            <div class="tooltip">
                <span class="tooltiptext">Last page</span>
                <div class="image-tooltip">
                <img src="../../../../assets/svg/arrow-right-end.svg"  (click)="lastPage()"/>
                </div>
            </div>





            
            
            
        

        </div>
    </div>
</div>




