.form {
    background-color: #FFF;
    padding: 24px;
}
.form-group {
    display: flex;
    gap: 24px;
    align-items: center;
}

.form-field {
    display: flex;
    flex-direction: column;
    padding-bottom: 28px;
}

label {
    font-size: 14px;
    font-weight: 700;
    line-height: 120%;
    color: #2c2c2b;
    margin-bottom: 10px;
}

select {
    width: 250px;
    height: 46px;
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 4px;
    border-radius: 10px;
    border: 1px solid #e9e9e6;

}

button {
    cursor: pointer;
    width: 80px;
    height: 50px;

    font-size: 14px;
    /* background-color: #f77f00;
    border: 1px solid #f77f00; 
    color: #FFF;  */
    border-radius: 4px;
    width: 134px;
    font-weight: 700;
}

:host >>> .inputForm {
    width: 250px;
}


.container {
    padding: 2px;
    width: 100%;
}

.table {
    width: 100%;
}

table {
    border-collapse: collapse;
    background-color: #FFF;
}




th {
    font-size: 14px;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.04);
    border: 1px solid rgba(0, 0, 0, 0.08);
    color: #292929;
    text-align: start;
    padding: 10px;
}

td {
    padding: 10px;
    color: #2c2c2b;
}


.table tbody tr {
    color: #424242;
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.08);
}
.table tbody tr:nth-child(even){
    background-color: rgba(0, 0, 0, 0.04);
}

.table tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.07);
}

.pagination {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 40px;
    background-color: #0961ef6d;
}

.form-select {
    display: flex;
    align-items: flex-end;
}

.form-select label {
    padding: 5px;
}


select.select-pagination {
    width: 60px;
    height: 40px;
}

button.previos {
    background-color: transparent;
    border: none;
}

.buttons {
    margin-left: 30px;

    display: flex;
    padding: 0 20px;

    
}




 /*
 tooltip
 */
 .tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    font-size: 12px;
    visibility: hidden;
    width: 100px;
    background-color: rgb(108, 108, 108);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 4px;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -50px;
    margin-bottom: 5px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  img:hover {
    cursor: pointer;
 }

  .image-tooltip {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image-tooltip:hover {

    background-color: rgba(229, 229, 229, 0.777);
  }