.form-group {
    display: flex;
    gap: 24px;
    align-items: flex-end;
}

.form-field {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    font-weight: 700;
    line-height: 120%;
    color: #2c2c2b;
    margin-bottom: 10px;
}

select {
    width: 250px;
    height: 46px;
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 4px;
    border-radius: 10px;
    border: 1px solid #e9e9e6;

}

button {
    cursor: pointer;
    width: 80px;
    height: 50px;

    font-size: 14px;
    /* background-color: #f77f00;
    border: 1px solid #f77f00; 
    color: #FFF;  */
    border-radius: 4px;
    width: 134px;
    font-weight: 700;
}

:host >>> .inputForm {
    width: 250px;
}


.table-container {
    width: 100%;
    min-height: 100vh;
}

table {
    border-collapse: collapse;
}

.table {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;

}

tr {
    border: 1px solid gainsboro;
}

th {
    background-color: #f0f0f0;
    border: 1px solid rgb(195, 194, 194);
}

td {
    padding: 4px;
}



tr:nth-child(even){background-color: #f2f2f2;}

.table tr:hover {background-color: #ddd;}